2] write a program to demonstrate different data types in python.

In [2]:
a = "Sarang Patil"
b = 30
c = ["cricket", "football", "hockey"]
d = {"flower" : "rose", "quantity" : 36}
e = 40
f = 14.5
g = 3j
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))

<class 'str'>
<class 'int'>
<class 'list'>
<class 'dict'>
<class 'int'>
<class 'float'>
<class 'complex'>